.DS_Store
auto-save-list/*
autosaves/*
backups/*
lib/cedet
url/cache
config.el
url/cookies
*.pyc
server/server

# elpa stuff
/elpa/archives/
/elpa/gnupg/
*.elc
/transient

# lsp-mode things
.lsp-session-v*
/.cache/lsp
